@font-face {
    font-family: cocogoose;
    src: url(../fonts/Cocogoose_trial.otf);
}
body {
  position: relative;

}
.text-normal {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #272a31cc;
}

main {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

#intro-container {
  width: 100%;
  height: 100%;
  background-image: url(../images/mobile_intro_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}

#intro {
  display: flex;
  width: 90%;
  margin: 0 0 5% 5%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

#intro-hello {
  margin-top: 60px;
}
h1 {
  color:#ec5242; 
  font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

h1 div {
  color: #ec5242;
  font-family: cocogoose, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
  
}

#intro-description {
  border: solid 4px white;
  padding: 20px;
  background-color: rgba(249, 249, 250);
  margin: 20px 0;
}

#intro-date {
  margin-bottom: 60px;

}

#date {
  font-family: cocogoose, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #272a31;
}




@media only screen and (min-width: 768px){
  main {
    position: relative;
  }

  #intro {
    width: 60%;
    height: 100vh;
  }

}